body{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
}

.btn {
    display:scroll;
    position:fixed !important;
    float: right;
    display: inline;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: gray;
    font-size: 20px;
}

.btn01{
    bottom:120px;
    left:30px;
}

.btn02{
    bottom:20px;
    left:30px;
}

form{
    display: flex;
}

fieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#box{
    margin-top: 8px;
    margin-right: 10px;
    height: 100%;
    max-width: 50%;
    border: 1px solid;
    display: none;
    padding: 5px;
}

button{
    margin: 0px 10px;
}

.checkbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p, h1{
    text-align: center;
    word-wrap: break-word;
}

.tachado{
    text-decoration-line: line-through;
}