*{
    margin: 0px;
}

div{
    display: flex;
}

fieldset{
    display: block;
    flex-wrap: wrap;
}

.radioBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
    width: 222px;
}

.formulario{
    display: none;
    border-radius: 4%;
    flex-wrap: wrap;
    background-color: sandybrown;
    position:fixed !important;
    float: right;
    top:50px;
    left:50px;
    width: 250px;
    height: 450px;
}

.btn {
    display:scroll;
    position:fixed !important;
    float: right;
    display: inline;
    bottom:90px;
    right:30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    font-size: 40px;
}

.sobre {
    display: none;
    text-align: center;
    position:fixed !important;
    float: right;
    width: 220px;
    right: 30px;
    bottom: 210px;
    background-color: white;
    border: solid 1px black;
    padding: 0.5rem;
    font-size: 16px;
}

.tip {
    display: none;
    text-align: center;
    position:fixed !important;
    float: right;
    width: 220px;
    right: 30px;
    bottom: 210px;
    background-color: rgba(128, 128, 128, 0.8);
    font-size: 16px;
}

.exibirFormulario{
    display: inline;
    bottom:30px;
    right:30px;
}

.tipFormulario{
    bottom: 90px;
    height: 20px;
}

.tipColecao{
    bottom: 150px;
    height: 40px;
}

.tipSobre{
    bottom: 210px;
}

.exibirSobre{
    display: inline;
    bottom:150px;
    right:30px;
}

#shounen, #seinen, #shoujo, #josei{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

.campo{
    border: solid 3px black;
    font-size: 18px;
    margin: 10px;
}

.campo h1{
    font-size: 1.5rem;
}

.campo h2{
    font-size: 1.2rem;
}

.campo h3{
    font-size: 1rem;
}


.card{
    width: 230px;
    height: 340px;
    background-color: #ffba7c;
    flex-wrap: wrap;
    border-radius: 15px;
    border: solid 10px #919974;
    margin: 5px;
}

.pontBox{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 119px;
    height: 170px;
    background-color: #919974;
}

.nomeBox{
    width: 230px;
    height: 80px;
    background-color: #e49052;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.imagemBox{
    flex-direction: column;
    justify-content: center;
    height: 170px;
    background-color: #919974;
}

.metadeCard{
    justify-content: flex-end;
    height: 170px;
}

img{
    width: 111px;
    height: 166.8px;
    object-fit: scale-down;
}